body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

.button-container {
    margin-top: 20px;
}

.dice-btn {
    background-color: rgb(0,123,255); 
    color: white;
    padding: 15px 25px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 10px;
    transition: background 0.3s;
}

.dice-btn:hover {
    background-color: rgb(4, 45, 89); /* Darker blue when hovering */
}

#displayResult {
    color: rgb(213, 14, 54); /* Red for the result number */
    font-size: 48px;
}